{% with active_page='cv', title='CV | Jackson Crowley' %}
{% include 'header.html' %}
{% endwith %}
<main class="page-{{ active_page }}">
      <section id="cv">
        <h3>Education</h3>
        <p><code>2022-PRES:</code> PhD, Computational Biophysics, CNRS/Univ. Lyon. 1, France</p>
        <p style="padding-left: 6em;">Thesis Title: <em>Advanced Simulations of Lipid Droplet Biogenesis</em></p>
        <p style="padding-left: 6em;">Supervisor: Luca Monticelli</p>
        <p style="padding-left: 6em;">
            <code>coarse-grained MD</code>&nbsp;
            <code>membrane biophysics</code>&nbsp;
            <code>non-equilibrium simulations</code>&nbsp;
        </p>
        <hr/>
        <p><code>2020-2021:</code> MPhilSc, Biomedical Engineering (Honours), UTS, Australia</p>
        <p style="padding-left: 6em;">Thesis Title: <em>Understanding the Membrane Interactions of Steroids Capable of Improving Batten Disease</em></p>
        <p style="padding-left: 6em;">Supervisor: Evelyne Deplazes</p>
        <p style="padding-left: 6em;">
            <code>all-atom MD</code>&nbsp;
            <code>small molecule interactions</code>&nbsp;
        </p>
       <hr/>
        <p><code>XXXX-2019:</code> Bachelor of Medical Sciences, Macquarie University, Australia</p>
         <p style="padding-left: 6em;">
            <code>biochemistry</code>&nbsp;
            <code>synthetic biology</code>&nbsp;
            <code>neuroscience</code>&nbsp;
        </p>
        <h3>Notable Publications</h3>
        <p style="padding-left: 52px;"><code>2023</code> <a href="https://doi.org/10.1101/2023.07.28.550987">Birth of an Organelle: Molecular Mechanism of Lipid Droplet Biogenesis</a></p>
        <p style="padding-left: 6em;">Nieto, V. <b>Crowley, J.</b> Santos, D.E.S. Monticelli, L. <em>BioRxiv</em></p>
     </section>
    </main>
{% include 'footer.html' %}
