{% with active_page='cv', title='CV | Jackson Crowley' %}
{% include 'header.html' %}
{% endwith %}
<main class="page-{{ active_page }}">
      <section id="cv">
        <h2>Education</h2>
        
        <h3> PhD, Molecular Biophysics</h3>
        <blockquote>
        <p><em>2022 - Present</em></p>
        <p>Université Claude Bernard Lyon 1 &amp; CNRS, Lyon, France</p>
        <p><strong>Thesis Title:</strong> <em>Advanced Simulations of Lipid Droplet Biogenesis</em></p>
        <p><strong>Advisor:</strong> Luca Monticelli</p>
        <p><strong>Notable Publications</strong><p>

        <ul style="padding-left: 3em;">
                <li><strong>Crowley J.</strong>, Hilpert C., Monticelli L. 2024. <a href="https://doi.org/10.1016/bs.mie.2024.03.022"><em>Predicting Lipid Sorting in Curved Membranes.</em> Methods in Enzymology, Academic Press.</a>
                <li>Nieto V.,<strong>Crowley J.</strong>, Santos D., Monticelli L. 2023. <a href="https://doi.org/10.1101/2023.07.28.550987"><em>Birth of an Organelle: Molecular Mechanism of Lipid Droplet Biogenesis.</em> bioRxiv.</a>
        </ul>
        </blockquote>
 
        <h3> Master of Philosophy in Science (Biomedical Engineering)</h3>
        <blockquote>
        <p><em>2020 - 2021</em></p>
        <p>University of Technology Sydney, Sydney, Australia</p>
        <p><strong>Thesis Title:</strong> <em>Understanding the Membrane Interactions of Steroids Capable of Improving Batten Disease</em></p>
        <p><strong>Advisor:</strong> Evelyne Deplazes</p>
        
        <p><strong>Notable Publications:</strong></p>
        <ul style="padding-left: 3em;">
                <li>Larder M., <strong>Crowley J.</strong>, Hossain S. I. H., Deplazes E. 2025. <a href="https://doi.org/10.1039/D4CP03254C"><em>Steroids and Steroid-Like Compounds  Alter  the Ion Permeability of Phospholipid Bilayers via Distinct Interactions with Lipids and Interfacial Water.</em> Physical Chemistry Chemical Physics.</a>
                <li><strong>Crowley J.</strong>, Withana M., Deplazes E. 2022. <a href="https://doi.org/10.1007/s12551-021-00918-2"><em>The Interaction of Steroids with Phospholipid Bilayers and Membranes</em> Biophysical Reviews.</a>
        </ul>

        <p><strong>Awards:</strong></p>
        <ul style="padding-left: 3em;">
                <li>Honours
                <li>2x Dean's Merit List Award (2020 &amp; 2021)
        </ul>
        </blockquote>
 
        <h3> Bachelor of Medical Sciences</h3>
        <blockquote>
        <p><em>2019</em></p>
        <p>Macquarie University, Sydney, Australia</p>
        <p>Specialised in Molecular Biology and Biochemistry</p>
        </blockquote>

        <h2>Other Research Experience</h2>
        <h3>Visiting Researcher, TU Dortmund</h3>
        <blockquote>
        <p><em>Jan 2025 - Mar 2025</em></p>
        <p><strong>Advisor:</strong> Herre Jelger Risselada</p>
        <p><strong>Project Title:</strong> <em>Towards the Development of Lipid Droplet Sensing Peptides Using Genetic Algorithms</em></p>
        </blockquote>
 
        <h3>Summer Research Intern</h3>
        <blockquote>
        <p><em>Oct 2020 - Feb 2021</em></p>
        <p>Pawsey Supercomputing Center</p>
        </blockquote>
 
     
    </section>
    </main>
{% include 'footer.html' %}
