{% include 'header.html' %}
  <main>
      <section id="about">
        <p>I'm an Australian PhD candidate in Molecular Biophysics, working in France.
        I use Molecular Dynamics simulations to study membrane and lipid droplet biogenesis and remodelling.
        </p>
        <p><code>2022-PRES:</code> PhD, Molecular Biophysics, CNRS/Univ. Lyon. 1, France</p>
        <p><code>2020-2021:</code> MPhilSc, Biomedical Engineering (Honours), UTS, Australia</p>
        <p><code>XXXX-2019:</code> Bachelor of Medical Sciences, Macquarie University, Australia</p>
      </section>
    </main>
{% include 'footer.html' %}

