{% include 'header.html' %}
  <main>
      <section id="about">
        <!--<p>I'm a PhD student  developing computational models of complex biomolecular systems to understand their roles in health, metabolism, and disease. 
        In practice, I work on Atomsitic and Coarse-Grained Molecular Dynamics simulations of membranes and lipid droplets.</p>
        <hr/> -->
        <p><code>2022-PRES:</code> PhD, Computational Biophysics, CNRS/Univ. Lyon. 1, France</p>
        <p><code>2020-2021:</code> MPhilSc, Biomedical Engineering (Honours), UTS, Australia</p>
        <p><code>XXXX-2019:</code> Bachelor of Medical Sciences, Macquarie University, Australia</p>
      </section>
    </main>
{% include 'footer.html' %}

