{% include 'header.html' %}
  <main>
      {% include 'nav.html' %}
      <div class="content">
      <section id="about">
        <p>I'm an Australian Molecular Biophysicist, working in France.
        Throughout my PhD, I used Molecular Dynamics simulations to study membrane and lipid droplet biogenesis and remodelling.
        </p>
        <p><code>2025:</code> PhD, Molecular Biophysics, CNRS/Univ. Lyon. 1, France</p>
        <p><code>2021:</code> MPhilSc, Biomedical Engineering (Honours), UTS, Australia</p>
        <p><code>2019:</code> Bachelor of Medical Sciences, Macquarie University, Australia</p>
      </section>
      </div>
    </main>
{% include 'footer.html' %}

