{% with active_page='posts', title='Posts | Jackson Crowley' %}
{% include 'header.html' %}
{% endwith %}
    <main>
      <section id="posts">
          {% for post in posts %}
          <article class="posts-preview">
              <time datetime="{{ post.date }}"><code>{{ post.date }}</code></time>
              <h4><a href="{{ post.relative_url }}">{{ post.title }}</a></h4>
          </article>
          {% endfor %}
      </section>
      <!--<iframe src="https://jacksoncrowley.substack.com/embed" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>-->
    </main>
{% include 'footer.html' %}
